<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/about.css">
    <title>Document</title>
</head>
<body>
    <nav>
        <img src="malli pedudhaam">
        <label class="title">APP(TEMP)</label>
        <ul>
         <li><a class="active" href="/Authentication">DASH BOARD</a></li>
         <li><a href="/request">REQUEST</a></li>
         <li><a href="/nbot">N'BOT</a></li>
         <li><a href="/about">ABOUT</a></li>
         <li><a href="/logout">LOG OUT</a></li>
        </ul>
 
     </nav>
</body>
</html>