<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/dashboard.css">
    <title>Document</title>
</head>
<body>

    <nav>
       <img src="malli pedudhaam">
       <label class="title">APP(TEMP)</label>
       <ul>
        <li><a class="active" href="">DASH BOARD</a></li>
        <li><a href="">REQUEST</a></li>
        <li><a href="">N'BOT</a></li>
        <li><a href="">ABOUT</a></li>
        <li><a href="">ACCOUNT</a></li>
       </ul>

    </nav>

    <div class="container">

        <div class="card">

            <div class="Cimg">
                <img src="./vecteezy_programmer-people-concept-use-laptop-and-programming-code_.jpg">

            </div>
            <div class="Ccontent">
                <h2>APP DETAILS</h2>
                <P>Check your APP details</P>
                <a href="./login.html">VIEW</a>
            </div>

        </div>
        <div class="card">

            <div class="Cimg">
                <img src="./vecteezy_business-target-modern-flat-concept-for-web-banner-design_5878301.jpg">

            </div>
            <div class="Ccontent">
                <h2>MY PROFILE</h2>
                <P>Check your APP progress</P>
                <a href="/profile">VIEW</a>
            </div>

        </div>

    </div>

    



    
</body>
</html>