<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./request.css">
    <title>Document</title>
</head>
<body>
    <nav>
        <img src="#">
        <label class="title">APP(TEMP)</label>
        <ul>
         <li><a class="active" href="/Authentication">DASH BOARD</a></li>
         <li><a href="/request">REQUEST</a></li>
         <li><a href="/nbot">N'BOT</a></li>
         <li><a href="/about">ABOUT</a></li>
         <li><a href="/logout">LOG OUT</a></li>
        </ul>
 
     </nav>
    <form method="post" action="/request123" enctype="multipart/form-data">
    <div class = 'wrapper'>
        <div class = "upload">
            <div class = "upload-wrapper">
                <div class="one">
               <label for="activity">Name of the activity</label>
                <input type="text" name="activity" placeholder="Enter Here...">
               </div>
               <!-- <div class="two">
               <label for="nature">Enter nature of the activity</label>
               <input type="text" name="nature">
            </div> -->
            <div class="three">
               <label for="location">Location of the activity conducted</label>
               <input type="text" name="location" placeholder="Enter Here...">
            </div>
            <div class="four">
               <label for="date">Date of the activivty conducted</label>
               <input type="date" name="date">
            </div>
            <div class="five">
            <label for="mode">Activity Mode :</label>
            <select name="mode" id="mode">
              <option hidden selected disabled>Select Mode</option>
              <option value="online">Online</option>
             
              <option value="Offline">Offline</option>
            
            </select>
        </div>
        <div class="six">
        <label for="firstSelection">First Selection:</label>
        <select id="firstSelection" onchange="updateSelection()">
            <option selected disabled hidden>Select an option</option>
          <option value="Option 1">CEA/NSS/National Initiatives
        </option>
          <option value="Option 2"> Sports & Games
        </option>
        <option value="Option 3">  Cultural Activities
        </option>
        <option value="Option 4">  Women’s forum activities
        </option>
        <option value="Option 5">Hobby clubs Activities
        </option>
        <option value="Option 6">Professional society Activities
        </option>
        <option value="Option 7"> Dept. Students Association Activities
        </option>
        <option value="Option 8">Technical Club Activities
        </option>
        <option value="Option 9"> Innovation and Incubation Cell Activities

        </option>
        <option value="Option 10"> Professional Self Initiatives
        </option>
        <option value="Option 11"> Others

        </option>
        </select></div>
        <br>
        <div class="seven">
            <label for="secondSelection">Second Selection:</label>
               <select id="secondSelection">
                <option hidden disabled selected>Select activity nature first</option>
                </select>
        </div>
        
               <!-- <label>Description :</label>
               <textarea id="text-area" name="text-area" rows="4" cols="50"></textarea> -->
             
            
               
                
             
        </div>
       
        <div class="eight">
            <div class = "upload-area">
             <div class = "upload-area-img">
                 <img src = "./upload.png">
             </div>
             <p class = "upload-area-text">Select images or <span>browse</span>.</p>
         </div>
         <input type = "file" class = "visually-hidden" id = "upload-input" name="image"  multiple>
        
         <div class = "upload-img">
                
         </div>
     <div class = "upload-info">
         <p id="uploadInfo">
             <span class = "upload-info-value">0</span> file(s) uploaded.
         </p>
          <input type="submit"  value="submit" id="sub-btn">
     </div>
     </div>
       
    </div></form>

    <script>
document.addEventListener("DOMContentLoaded", function() {
    document.querySelector(".upload-area").addEventListener("click", function() {
        document.getElementById('upload-input').click();
    });

    document.getElementById('upload-input').addEventListener("change", function(event) {
        if (event.target.files) {
            let filesAmount = event.target.files.length;
            document.querySelector('.upload-img').innerHTML = "";

            for (let i = 0; i < filesAmount; i++) {
                let reader = new FileReader();
                reader.onload = function(event) {
                    let html = `
                        <div class="uploaded-img">
                            <img src="${event.target.result}">
                            <button type="button" class="remove-btn">
                                <i class="fas fa-times"></i>
                            </button>
                        </div>
                    `;
                    document.querySelector(".upload-img").insertAdjacentHTML('beforeend', html);
                }
                reader.readAsDataURL(event.target.files[i]);
            }

            document.querySelector('.upload-info-value').textContent = filesAmount;
            document.querySelector('.upload-img').style.padding = "20px";
        }
    });

    window.addEventListener("click", function(event) {
        if (event.target.classList.contains('remove-btn')) {
            event.target.parentNode.remove();
        } else if (event.target.parentNode.classList.contains('remove-btn')) {
            event.target.parentNode.parentNode.remove();
        }
    });
});


function updateSelection() {
    var firstSelection = document.getElementById("firstSelection");
    var secondSelection = document.getElementById("secondSelection");
    
    
    secondSelection.innerHTML = "";
    
    
    var selectedOption = firstSelection.value;
 
    if (selectedOption === "Option 1") {
      var option1Values = ["Registration for CEA/NSS", "Participation in Various Activities Conducted by CEA/NSS (For each activity) within the institute", "Participation in Various Activities Conducted by CEA/NSS (For each activity) External private Institutes","Participation in Various Activities Conducted by CEA/NSS (For each activity) External Universities level","Participation in Various Activities Conducted by CEA/NSS (For each activity) State Level (Govt.)","Participation in Various Activities Conducted by CEA/NSS (For each activity) National Level (Govt.)","Prize/Award at college level activity","Prize/Award at college level activity (External)","Prize/Award at university level activity","Prize/Award at State level(Govt.) activity","Prize/Award at National level(Govt.) activity"];
      for (var i = 0; i < option1Values.length; i++) {
        var option = document.createElement("option");
        option.text = option1Values[i];
        secondSelection.add(option);
      }
    } else if (selectedOption === "Option 2") {
      var option2Values = ["Registration for Sports/Games clubs", "Participation in Various Activities Conducted by Sports & Games dept. at college level (For each activity)", "Participation in Various Activities Conducted by Sports & Games External, College level (For each activity)","ParƟcipaƟonin Various AcƟviƟes Conducted at university/District level (For each acƟvity)","Participation in Various Activities Conducted at State level (For each activity)","Participation in Various Activities Conducted at National level (For each activity)","Prize/Award at college level activity","Prize/Award at External college level activity","Prize/Award at university/district level activity","Prize/Award at State level activity","Prize/Award at National level activity"];
      for (var i = 0; i < option2Values.length; i++) {
        var option = document.createElement("option");
        option.text = option2Values[i];
        secondSelection.add(option);
      }
    } else if (selectedOption === "Option 3") {
      var option3Values = ["Participation in cultural Activities", "Participation in cultural Activities Conducted at college level during Independence Day/Republic Day", "Participation in cultural Activities Conducted at college/ Dept. level (Outside) during various events","Participation in cultural Activities Conducted at University Level during various events","Participation in cultural Activities Conducted at State Level during various events","Participation in cultural Activities Conducted at National Level during various events","Prize/Award in cultural activity at college/Dept level","Prize/Award in cultural activity at college/Dept level (outside)","Prize/Award in cultural activity at college/Dept level (University) during various events","Prize/Award in cultural activity at State level during various events","Prize/Award in cultural activity at National level during various events"];
      for (var i = 0; i < option3Values.length; i++) {
        var option = document.createElement("option");
        option.text = option3Values[i];
        secondSelection.add(option);
      }
    }   else if (selectedOption === "Option 4") {
      var option4Values = ["Women’s forum Registration", "Participation in Various Activities Conducted by women’s forum at college level", "ParƟcipaƟonin Various AcƟviƟes conducted at outside /College level","ParƟcipaƟonin Various AcƟviƟes conducted at university/District","ParƟcipaƟonin Various AcƟviƟes conducted at state level","Participation in Various Activities Conducted at National level","Prize/Award at college level activity","Prize/Award at college level activity (outside)","Prize/Award at university/district Level activity","Prize/Award at State Level activity","Prize/Award at National level activity"];
      for (var i = 0; i < option4Values.length; i++) {
        var option = document.createElement("option");
        option.text = option4Values[i];
        secondSelection.add(option);
      }
    }  else if (selectedOption === "Option 5") {
      var option5Values = ["Hobby Clubs Registration", "Participation in Various Activities Conducted by Hobby Clubs at college level", "Participation in Various Activities Conducted at College Level (Outside)","Participation in Various Activities Conducted at university/District level","Participation in Various Activities Conducted at State level","Participation in Various Activities Conducted at National level","Prize/Award at college level activity","Prize/Award at college level activity (Outside)","Prize/Award at university/district level activity","Prize/Award at State level activity","Prize/Award at National level activity"];
      for (var i = 0; i < option5Values.length; i++) {
        var option = document.createElement("option");
        option.text = option5Values[i];
        secondSelection.add(option);
      }
    }  else if (selectedOption === "Option 6") {
      var option6Values = ["Membership in Professional Societies", "Partcipation in Competitions/Presentations conducted by Professional Societies - (IEEE, CSI,IE etc.) at college level", "Partcipation in Competitions/Presentations conducted by Professional Societies - (IEEE, CSI,IE etc.) at college level(outside)","Participation in Competitions/Presentation conducted by Professional Societies - (IEEE, CSI,IE etc.) at University/Regional level","Participation in Competitions/Presentation conducted by Professional Societies - (IEEE, CSI,IE etc.) at State/National level","Prize/Award at college level activity","Prize/Award at college level activity (Outside)","Prize/Award at university/ Regional level activity","Prize/Award at State/National level activity"];
      for (var i = 0; i < option6Values.length; i++) {
        var option = document.createElement("option");
        option.text = option6Values[i];
        secondSelection.add(option);
      }
    }  else if (selectedOption === "Option 7") {
      var option7Values = ["Participation in Competitions conducted by Dept. Students Association at college level", "Prize/Award at college level activity"];
      for (var i = 0; i < option7Values.length; i++) {
        var option = document.createElement("option");
        option.text = option7Values[i];
        secondSelection.add(option);
      }
    }  else if (selectedOption === "Option 8") {
      var option8Values = ["Membership in Technical Club at college level", "Participation in Competitions conducted by Technical Club at college level", "Participation in Competitions conducted by Technical Club at college level (Outside)","Participation in Competitions conducted by Technical Club at University/State/National Level","Prize/Award at college level activity","Prize/Award at college level activity (outside)","Prize/Award at University/State Level","Prize/Award at National level activity"];
      for (var i = 0; i < option8Values.length; i++) {
        var option = document.createElement("option");
        option.text = option8Values[i];
        secondSelection.add(option);
      }
    }  else if (selectedOption === "Option 9") {
      var option9Values = ["Participation in Competitions conducted by IIC at college level", "Participation in Competitions conducted by IIC at college level (Outside)", "Participation in Competitions conducted by IIC at University / district Level","Participation in Competitions conducted by IIC at State / National Level","Prize/Award at college level activity","Prize/Award at college level activity (Outside)","Prize/Award at university/district level activity","Prize/Award at State/National level activity","Patent-Filed/Published","Patent Granted","Prototype developed/tested","Awards for Products developed","Innovative technologies developed and used by industries/users","Got venture capital funding for innovative ideas/products.","Societal innovations"];
      for (var i = 0; i < option9Values.length; i++) {
        var option = document.createElement("option");
        option.text = option9Values[i];
        secondSelection.add(option);
      }
    }  else if (selectedOption === "Option 10") {
      var option10Values = ["Participation(Registration) in Tech./management Fest / NLTS / project exhibitions etc at the college level", "Participation in Tech./management Fest / NLTS / project exhibitions etc at the college level.(Outside)", "Participation(Registration) in Tech./management Fest / NLTS / project exhibitions etc at the University level","Participation in Tech./management Fest / NLTS / project exhibitions etc at the State/National level","Prize/Award in Tech Fest/NLTS/ project exhibitions etc at the college level","Prize/Award in Tech Fest/NLTS/ project exhibitions etc at the college level(Outside)","Prize/Award in Tech Fest/NLTS etc at University Level","Prize/Award in Tech Fest/NLTS etc at State/National","Student representatives at Department/Institute level","Certifications From NPTEL/Microsoft etc APSCHE/ ACITE/UGC recognized bodies","Student Development Program/ Workshop / Conferences from APSCHE/ ACITE/UGC recognized bodies","Paper Publications in indexed Journals / Conferences UGC-CARE/SCOPUS/SCI / SCIE/ WoS)"];
      for (var i = 0; i < option10Values.length; i++) {
        var option = document.createElement("option");
        option.text = option10Values[i];
        secondSelection.add(option);
      }
    }  else if (selectedOption === "Option 11") {
      var option11Values = ["Member/participation in various cells and committees at college/department level", "Industrial visits-Participation and submission of report with a detailed Observations and Outcomes of individual.", " Any other Prizes/Awards/Appreciation etc..."];
      for (var i = 0; i < option11Values.length; i++) {
        var option = document.createElement("option");
        option.text = option11Values[i];
        secondSelection.add(option);
      }
    }




    //might be used in future, so dont remove this : (Excluding Curriculum/Course Structure)
  }
    </script>

    
</body>
</html>