<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/faculty.css">
    <title>Document</title>
</head>
<body>
    <nav>
        <img src="malli pedudhaam">
        <label class="title">APP(TEMP)</label>
        <ul>
         <li><a class="active" href="">DASH BOARD</a></li>
         <li><a href="">ADD STUDENT</a></li>
         <li><a href="">DOWNLOAD</a></li>
         <li><a href="">ABOUT</a></li>
         <li><a href="/logout">ACCOUNT</a></li>
        </ul>
 
     </nav>
 
     <div class="container">
 
         <div class="card">
 
             <div class="Cimg">
                 <img src="./Education_31-60_1243.jpg">
 
             </div>
             <div class="Ccontent">
                 <h2>STUDENT DETAILS</h2>
                 <P>Check student details here</P>
                 <a href="/std_details">VIEW</a>
             </div>
 
         </div>
         <div class="card">
 
             <div class="Cimg">
                 <img src="./Screenshot 2024-04-24 202944.png">
 
             </div>
             <div class="Ccontent">
                 <h2>REQUESTS</h2>
                 <P>Check all the requests here</P>
                 <a href="/Trequest">VIEW</a>
             </div>
 
         </div>
 
     </div>
 
     
</body>
</html>